{% extends "base.html" %}

{% block titulo %}
Ingredientes
{% endblock %}
{% block conteudo %}
<form method="GET">
	<label><i>Nome:</i></label>
	<input name="nome" type="text">
	<input type="submit" value="Filtrar"/>
</form>
</br>
<h4>{{ mensagem }}</h4>
{% if ingredientes_list %}
	<table border=1>
	<tr>
		<th>
		Nome
		</th>
		<th>
		Preço
		</th>
        <th>
		Custo
		</th>
		<th>
		Quantidade
		</th>
	</tr>
	{% for ingrediente in ingredientes_list %}
		<tr>
			<td>
			<a href="/pizzer/ingrediente/edita/{{ingrediente.id}}/">{{ ingrediente.nome }}</a>
			</td>
			<td>
			{{ ingrediente.preco }}
			</td>
            <td>
			{{ ingrediente.custo }}
			</td>
			<td>
			{{ ingrediente.quantidade }}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}