{% extends "base.html" %}

{% block titulo %}
Atenção
{% endblock %}

{% block conteudo %}
<h3>Você tem certeza de que deseja deletar todas as pizzas personalizadas criadas por telefone?</h3><br/>

<h4>
	<p>Não realize esta operação se ainda houver algum pedido que faça uso de uma das pizzas da lista.</p>
	<p>Caso contrário o funcionamento do sistema será comprometido.</p>
</h4>

<form action="" method="post">
<input type="submit" value="Confirmar Deleção"/>
<input type="button" value="Cancelar" onClick="location.href='/pizzer/pizzas/personalizadas/telefone/'"/>
</form>
{% endblock %}