{% extends "base.html" %}

{% block titulo %}
Cadastro de nova pizza
{% endblock %}
{% block conteudo %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        <label for="id_nome">Nome da pizza:</label>
        {{ form.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.ingredientes.errors }}
        <label for="id_ingredientes">Ingredientes:</label>
        {{ form.ingredientes }} <br><br>Com a tecla CTRL (ou "Command" no Mac) pressionada, selecione os ingredientes desejados.
    </div><br><br>
    <div class="fieldWrapper">
        {{ form.preco.errors }}
        <label for="id_preco">Preço:</label>
        {{ form.preco }} <i>R$ NN.DD</i>
    </div><br><br>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}