{% extends "base.html" %}

{% block conteudo %}
<form method="GET">
	<input name="nome" type="text">
	<input type="submit" value="filtrar"/>
</form>
<table border=1>
<tr>
	<th>
	Nome
	</th>
	<th>
	Inventor
	</th>
	<th>
	Ingredientes
	</th>
</tr>
{% for pizza in pizzas_list %}
	<tr>
		<td>
		<a href="/pizzer/pizza/edita/{{pizza.id}}/">{{pizza.nome}}</a>
		</td>
		<td>
		{{pizza.inventor}}
		</td>
		<td>
		{% for ingrediente in pizza.ingredientes.all %}
		{{ingrediente }}
		{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}