{% extends "base.html" %}

{% block titulo %}
Cadastro de funcionário
{% endblock %}
{% block conteudo %}
<form action="" method="post">
	<h2>Dados pessoais</h2>
    <div class="fieldWrapper">
        {{ form_funcionario.nome.errors }}
        <label for="id_nome">Nome completo:</label><br>
        {{ form_funcionario.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.endereco.errors }}
        <label for="id_endereco">Endereço:</label><br>
        {{ form_funcionario.endereco }} <i>( Ex.: Av. São Miguel, 4673)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.telefone.errors }}
        <label for="id_telefone">Telefone:</label><br>
        {{ form_funcionario.telefone }} <i>(Ex.: 11 2976-6544)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.cpf.errors }}
        <label for="id_cpf">CPF:</label><br>
        {{ form_funcionario.cpf }} <i>(Ex.: 367185678/56)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.rg.errors }}
        <label for="id_rg">RG:</label><br>
        {{ form_funcionario.rg }} <i>(Ex.: 43566779-6)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.salario.errors }}
        <label for="id_salario">Salário:</label><br>
        {{ form_funcionario.salario }} <i>R$ NNNN.DD</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.funcao.errors }}
        <label for="id_funcao">Função:</label><br>
        {{ form_funcionario.funcao }}
    </div><br>
    <div class="fieldWrapper">
        {{ form_funcionario.periodo.errors }}
        <label for="id_periodo">Período:</label><br>
        {{ form_funcionario.periodo }}
    </div><br>
    <hr/>
    <h2>Conta de usuário</h2>
    {{ form_usuario.non_field_errors }}
    <div class="fieldWrapper">
        {{ form_usuario.username.errors }}
        <label for="id_username">Nome de usuario:</label><br>
        {{ form_usuario.username }}
    </div><br>
    <div class="fieldWrapper">
        {{ form_usuario.password.errors }}
        <label for="id_password">Senha:</label><br>
        {{ form_usuario.password }}
    </div><br>
    <div class="fieldWrapper">
        {{ form_usuario.password_r.errors }}
        <label for="id_password_r">Repita a senha:</label><br>
        {{ form_usuario.password_r }}
    </div><br>
	<input type="submit" value="Confirmar registro">
</form>
{% endblock %}