{% extends "base.html" %}

{% block titulo %}
Dados do funcionário {{ object.nome }}
{% endblock %}
{% block conteudo %}
<a href="/pizzer/usuario/senha/funcionario/{{ object.usuario.id }}/">Alterar senha</a>
<br/><br/>
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        <label for="id_nome">Nome completo:</label><br>
        {{ form.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.endereco.errors }}
        <label for="id_endereco">Endereço:</label><br>
        {{ form.endereco }} <i>( Ex.: Av. São Miguel, 4673)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form.telefone.errors }}
        <label for="id_telefone">Telefone:</label><br>
        {{ form.telefone }} <i>(Ex.: 11 2976-6544)</i>
    </div><br>
    <div class="fieldWrapper">
        <label for="id_cpf">CPF:</label><br>
        <b>{{ object.cpf }}</b>
    </div><br>
    <div class="fieldWrapper">
        <label for="id_rg">RG:</label><br>
        <b>{{ object.rg }}</b>
    </div><br>
    <div class="fieldWrapper">
        {{ form.salario.errors }}
        <label for="id_salario">Salário:</label><br>
        {{ form.salario }} <i>R$ NNNN.DD</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form.funcao.errors }}
        <label for="id_funcao">Função:</label><br>
        <b>{{ object.funcao }}</b>
    </div><br>
    <div class="fieldWrapper">
        {{ form.periodo.errors }}
        <label for="id_periodo">Período:</label><br>
        {{ form.periodo }}
    </div><br>
<input type="submit" value="Salvar alterações">
{% ifnotequal group "atendente" %}
	<input type="button" value="Deletar" onClick="location.href='/pizzer/funcionario/deleta/{{ object.id }}/'"/>
{% endifnotequal %}
</form>
{% endblock %}