{% extends "base.html" %}

{% block titulo %}
Funcionários
{% endblock %}
{% block conteudo %}
<form method="GET">
	<label>Nome: </label>
	<input name="nome" type="text">
	<input type="submit" value="Filtrar"/>
</form>
<h4>{{ mensagem }}</h4>
{% if funcionarios_list %}
<table border=1>
<tr>
	<th>
	Nome {{Request.name}}
	</th>
	<th>
	Endereço
	</th>
	<th>
	Telefone
	</th>
	<th>
	CPF
	</th>
	<th>
	RG
	</th>
	<th>
	Salario
	</th>
</tr>
{% for funcionario in funcionarios_list %}
	<tr>
		<td>
		<a href="/pizzer/funcionario/edita/{{funcionario.id}}/">{{ funcionario.nome }}</a>
		</td>
		<td>
		{{funcionario.endereco}}
		</td>
		<td>
		{{funcionario.telefone}}
		</td>
		<td>
		{{funcionario.cpf}}
		</td>
		<td>
		{{funcionario.rg}}
		</td>
		<td>
		{{funcionario.salario|floatformat:"2"}}
		</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}