{% extends "base.html" %}

{% block titulo %}
Cancelar Pedido
{% endblock %}

{% block conteudo %}
<h3>Você tem certeza que deseja cancelar o pedido?</h3><br/>

<p> Caso você confirme o cancelamento o pedido será removido da lista e seus itens serão repostos no estoque. </p><br/>

<form action="" method="post">
	<input type="submit" value="Confirmar">
	<input type="button" onClick="window.location.href='/pizzer/pedido/edita/{{ pedido.id }}'" value="Voltar"/>
</form>
{% endblock %}