{% extends "base.html" %}

{% block extrahead %}
    <script type="text/javascript">
		function startCalc() {
  			interval = setInterval("calc()", 100);
		}

		function calc() {
  			var x = 0;
  			{% for pizza in pizzas %}
				x += {{ pizza.preco }} * document.getElementById('{{ pizza.nome }}_qtde').value;
			{% endfor %}
			{% for bebida in bebidas %}
				x += {{ bebida.preco }} * document.getElementById('{{ bebida.nome }}_qtde').value;
			{% endfor %}
			document.pedidoForm.total.value = x.toFixed(2);
		}

		function stopCalc() {
  			clearInterval(interval);
		}

		function validateForm() {
  			var x = 0;
  			var y = parseFloat(document.pedidoForm.id_pagamento.value);
  			var z = parseFloat(document.pedidoForm.total.value);
  			{% for pizza in pizzas %}
				x += document.getElementById('{{ pizza.nome }}_qtde').value;
			{% endfor %}

			{% ifnotequal group "cliente" %}
  			var w = document.pedidoForm.id_cliente.value
			if (w == "") {
				alert("O campo de cliente não pode ser deixado em branco.");
				return false;
			}
			{% endifnotequal %}

			if (x == 0) {
				alert("Não é permitido o cadastro de pedidos sem pizza.");
				return false;
			} else if (y < z) {
	 			alert("A quantia a ser entregue não pode ser menor que valor do pedido.");
				return false;
			} else {
				return true;
			}
  		}
    </script>
{% endblock %}

{% block titulo %}
Cadastro de novo pedido
{% endblock %}

{% block conteudo %}
<form name="pedidoForm" action="" onsubmit="return validateForm();" method="post">
{% ifnotequal group "cliente" %}
	<div class="fieldWrapper">
        {{ form.cliente.errors }}
        <label for="id_cliente">Cliente:</label>
        {{ form.cliente }}
    </div><br/>
{% endifnotequal %}
	<h3> Cardápio </h3><br/>

	<table border="1" >
		<tr>
    		<th> Pizzas </th>
    		<th> Ingredientes </th>
			<th> Preço (R$) </th>
    		<th> Quantidade </th>
		</tr>
		{% for pizza in pizzas %}
		<tr>
    		<td> {{ pizza.nome }} </td>
    		<td> {{ pizza.ingredientes.all|join:", " }} </td>
    		<td> {{ pizza.preco|floatformat:2 }} </td>
    		<td> <input type="text" name="{{ pizza.nome }}_qtde" value="0" id="{{ pizza.nome }}_qtde" onFocus="startCalc();" onBlur="stopCalc();"/> </td>
		</tr>
		{% endfor %}
	</table><br/><br/>

	<table border="1" >
		<tr>
    		<th> Bebidas </th>
    		<th> Preço (R$) </th>
    		<th> Quantidade </th>
		</tr>
		{% for bebida in bebidas %}
		<tr>
    		<td> {{ bebida.nome }} </td>
    		<td> {{ bebida.preco|floatformat:2 }} </td>
    		<td> <input type="text" name="{{ bebida.nome }}_qtde" value="0" id="{{ bebida.nome }}_qtde" onFocus="startCalc();" onBlur="stopCalc();"/> </td>
		</tr>
		{% endfor %}
	</table><br/><br/>

	<h3> Valor Total do Pedido (R$): <input type="text" name="total" value="0.00" readonly="readonly"/> </h3><br/><br/>

	<b>
	É desejado troco para que quantia?
	Caso não seja necessário troco preencha o campo abaixo com o valor exato do pedido.
	</b><br/><br/>
	<i> (Preencha o campo abaixo com o valor a ser entregue ao motoqueiro. O troco por ele carregado depende desta informação.) </i><br/><br/>
	<div class="fieldWrapper">
        {{ form.pagamento.errors }}
        <label for="id_pagamento">Quantia:</label>
        {{ form.pagamento }} <i>R$ NN.DD</i>
    </div><br/><br/>

	<p><b> Caso deseje fazer alguma observação sobre o pedido (e.g. pizza sem azeitonas) complete o campo abaixo: </b></p>
	<p><i>(Adições de ingredientes e mudanças drásticas nas pizzas não serão aceitas. Para isso utilize nossa funcionalidade de pizza personalizada.)</i></p>
    <div class="fieldWrapper">
        {{ form.observacoes.errors }}
        <label for="id_observacoes"></label>
        {{ form.observacoes }}
    </div><br/><br/>

	<input type="submit" value="Confirmar Pedido">
	<input type="button" value="Cancelar" onClick="window.location.href='/pizzer/'"/>

</form>
{% endblock %}