{% extends "base.html" %}

{% block extrahead %}
    <script type="text/javascript">
        function subtract(id){
            if(document.getElementById(id).value - 1 < 0)
                return;
            else
                document.getElementById(id).value--;
        }
    </script>
{% endblock %}

{% block titulo %}
Cadastro de novo pedido
{% endblock %}
{% block conteudo %}
<form action="" method="post">
<div class="fieldWrapper">
	{{ form.cliente.errors }}
	<label for="id_cliente">Cliente:</label>
	{{ form.cliente }}
</div><br/><br/>
<br/>
<table border="1" >
<tr>
    <th> Pizzas </th>
    <th> Quantidade </th>
</tr>
{% for pizza in pizzas %}
<tr>
    <td> {{ pizza.nome }} </td>
    <td>
    <input type="text" name="{{ pizza.nome }}_qtde" value="0" id="{{ pizza.nome }}_qtde"/>
	<input type="button" style="font-size: large;" onclick="javascript: subtract('{{ pizza.nome }}_qtde');" value="-"/>
	<input type="button" style="font-size: large;" onclick="javascript: document.getElementById('{{ pizza.nome }}_qtde').value++;" value="+"/>
    </td>
</tr>
{% endfor %}
</table>
<br/>
<br/>
<table border="1" >
<tr>
    <th> Bebidas </th>
    <th> Quantidade </th>
</tr>
{% for bebida in bebidas %}
<tr>
    <td> {{ bebida.nome }} </td>
    <td>
    <input type="text" name="{{ bebida.nome }}_qtde" value="0" id="{{ bebida.nome }}_qtde"/>
	<input type="button" style="font-size: large;" onclick="javascript: subtract('{{ bebida.nome }}_qtde');" value="-"/>
	<input type="button" style="font-size: large;" onclick="javascript: document.getElementById('{{ bebida.nome }}_qtde').value++;" value="+"/>
    </td>
</tr>
{% endfor %}
</table><br/>
<br/>
<div class="fieldWrapper">
	{{ form.observacoes.errors }}
	<label for="id_observacoes">Observações</label><br/><br/>
	{{ form.observacoes }}
</div><br/><br/>
<br/>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}