{% extends "base.html" %}

{% block titulo %}
Pedidos
{% endblock %}
{% block conteudo %}
{% if pedidos_list %}
    <table>
    <tr>
        <th>
        Endereço
        </th>
        <th>
        </th>
    </tr>
    {% for pedido in pedidos %}
        <tr>
            <td>
            <a href="/pizzer/pedido/edita/{{pedido.id}}/">{{ pedido.cliente }}</a>
            </td>
            <td>
            {{ pedido.status_display }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}