{% extends "base.html" %}

{% block titulo %}
Dados de {{ object.nome }}
{% endblock %}
{% block conteudo %}
<a href="/pizzer/usuario/senha/cliente/{{ object.usuario.id }}/">Alterar senha</a>
<br/><br/>
<form action="" method="post">
{{ form.as_p }}
<br/>
<input type="submit" value="Salvar alterações">
{% ifequal group "gerente" %}
	<input type="button" value="Deletar" onClick="location.href='/pizzer/cliente/deleta/{{ object.id }}/'"/>
{% endifequal %}
<input type="button" value="Cancelar" onClick="location.href='/pizzer/clientes/'">
</form>
{% endblock %}