<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}Sistema Pizzer{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/pizzer/media/css/base.css{% endblock %}"/>
{% block extrastyle %}
{% if is_desktop_group %}
{% else %}
	<style type="text/css">
		body, input, td {
			font-size: large;
		}
		input {
			width: 420px;
		}
	</style>
{% endif %}
{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">
    {% block breadcrumbs %}
    {% if user.is_authenticated %}
	    {% if is_desktop_group %}
	    <div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
	    |
	    <a href="/pizzer/usuario/logout/">Logout</a>
	    |
	    <a href="/pizzer/pessoa/edita/">Editar dados pessoais</a>
	    </div>
	    {% else %}
	    <div align="center">
	    <input type="button" style="font-size: large;" value="{% trans 'Home' %}" onClick="location.href='/'"/>{% if title %} &rsaquo; {{ title }}{% endif %}
	    <br/>
	    <input type="button" style="font-size: large;" value="Logout" onClick="location.href='/pizzer/usuario/logout/'"/>
	    <br/>
	    <input type="button" style="font-size: large;" value="Editar dados pessoais" onClick="location.href='/pizzer/pessoa/edita/'"/>
	    </div>
	    <hr style="height: 2px;"/>
	    {% endif %}
    {% endif %}
    {% endblock %}

    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}

    <!-- Content -->
    <div id="content"
    	{% if is_desktop_group %}
     	class="{% block coltype %}colSM{% endblock %}"
     	{% endif %}
     	>
        <div id="content-main"
        	{% if is_desktop_group %}
        	{% else %}
        		align="center"
        	{% endif %}
        	>
        	<h1>{% block titulo %}{% endblock %}</h1>
        	<h2>{% block subtitulo %}{% endblock %}</h2>
            {% block conteudo %}
            {% endblock %}
	    </div>
	    {% if is_desktop_group %}
        <div id="content-related">
        {% block sidebar %}
	        <ul>
	        {% if perms.modulo_reclamacoes %}
	        <h3>Reclamações</h3>
	        	{% if perms.modulo_reclamacoes.pode_criar_reclamacao %}
		    	<li><a href="/pizzer/reclamacao/cria/">Fazer reclamação</a></li>
		    	{% endif %}
		    	{% if perms.modulo_reclamacoes.pode_ver_reclamacoes %}
		    	<li><a href="/pizzer/reclamacoes/">Atender reclamações</a></li>
		    	{% endif %}
		   	{% endif %}
		   	{% if perms.modulo_clientes %}
			<h3>Clientes</h3>
				{% if perms.modulo_clientes.pode_criar_cliente %}
		    	<li><a href="/pizzer/cliente/cria/">Cadastrar cliente</a></li>
		    	{% endif %}
		    	{% if perms.modulo_clientes.pode_ver_todos_os_clientes %}
		    	<li><a href="/pizzer/clientes/">Lista de clientes</a></li>
		    	{% endif %}
	    	{% endif %}
	    	{% if perms.modulo_pedidos %}
	    	<h3>Pedidos</h3>
    			{% if perms.modulo_pedidos.pode_criar_pedido %}
	    			{% ifequal group "garçom" %}
					<li><a href="/pizzer/pda/pedido/cria/">Cadastrar pedido</a></li>
	    			{% else %}
	    				{% ifequal group "cliente" %}
	    					<li><a href="/pizzer/pedido/cria/">Fazer pedido</a></li>
						{% else %}
	    					<li><a href="/pizzer/pedido/cria/">Cadastrar pedido</a></li>
	    				{% endifequal %}
					{% endifequal %}
				{% endif %}
				{% if perms.modulo_pedidos.pode_ver_todos_os_pedidos %}
				<li><a href="/pizzer/pedidos/">Lista de pedidos</a></li>
				{% endif %}
				{% ifequal group "cliente" %}
				<li><a href="/pizzer/pedidos/cliente/">Seus pedidos</a></li>
				{% endifequal %}
			{% endif %}
			{% if perms.modulo_funcionarios %}
            <h3>Funcionários</h3>
            	{% if perms.modulo_funcionarios.pode_criar_funcionario %}
				<li><a href="/pizzer/funcionario/cria/">Cadastrar funcionário</a></li>
				{% endif %}
				{% if perms.modulo_funcionarios.pode_ver_funcionarios %}
				<li><a href="/pizzer/funcionarios/">Lista de funcionários</a></li>
				{% endif %}
			{% endif %}
			{% if perms.modulo_pizzas %}
			<h3>Pizzas</h3>
				{% if perms.modulo_pizzas.pode_criar_pizza %}
				<li><a href="/pizzer/pizza/cria/">Cadastrar pizza</a></li>
				{% endif %}
					{% ifequal group "cliente" %}
						<li><a href="/pizzer/pizza/personalizada/cria/">Inventar uma nova pizza</a></li>
					{% else %}
						{% ifequal group "atendente" %}
							<li><a href="/pizzer/pizza/personalizada/cria/">Cadastrar pizza personalizada</a></li>
							<li><a href="/pizzer/pizzas/personalizadas/telefone/">Lista de pizzas personalizadas</a></li>
						{% endifequal %}
					{% endifequal %}
				{% if perms.modulo_pizzas.pode_ver_pizzas %}
				<li><a href="/pizzer/pizzas/">Cardápio de pizzas</a></li>
				{% endif %}
				{% ifequal group "cliente" %}
				<li><a href="/pizzer/pizzas/personalizadas/">Pizzas que você inventou</a></li>
				{% endifequal %}
			{% endif %}
			{% if perms.modulo_bebidas %}
			<h3>Bebidas</h3>
				{% if perms.modulo_bebidas.pode_criar_bebida %}
				<li><a href="/pizzer/bebida/cria/">Cadastrar bebida</a></li>
				{% endif %}
				{% if perms.modulo_bebidas.pode_ver_bebidas %}
				<li><a href="/pizzer/bebidas/">Estoque de bebidas</a></li>
				{% endif %}
			{% endif %}
			{% if perms.modulo_ingredientes %}
			<h3>Ingredientes</h3>
				{% if perms.modulo_ingredientes.pode_criar_ingrediente %}
				<li><a href="/pizzer/ingrediente/cria/">Cadastrar ingrediente</a></li>
				{% endif %}
				{% if perms.modulo_ingredientes.pode_ver_ingredientes %}
				<li><a href="/pizzer/ingredientes/">Estoque de ingredientes</a></li>
				{% endif %}
			{% endif %}
			{% if user.is_superuser %}
            <h3>Usuários</h3>
				<li><a href="/pizzer/usuario/cria/">Cadastrar usuario</a></li>
				<li><a href="/pizzer/usuarios/">Lista de usuários</a></li>
			{% endif %}
		    </ul>
        {% endblock %}
        </div>
        {% endif %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>