{% extends "base.html" %}

{% block titulo %}
Resolução de reclamação
{% endblock %}
{% block conteudo %}
<form action="" method="post">
<p> <b> Cliente: </b> {{ reclamacao.cliente.nome }} </p>
<p> <b> Assunto: </b> {{ reclamacao.assunto }} </p>
<p> <b> Texto: </b> {{ reclamacao.texto }} </p><br/>

<div class="fieldWrapper">
	{{ form.status.errors }}
    <label for="id_status"><b>Status:<b/></label>
    {{ form.status }}
</div><br><br>

<input type="submit" value="Confirmar Alterações">
<input type="button" value="Apagar Reclamação" onClick="location.href='/pizzer/reclamacao/deleta/{{ reclamacao.id }}/'"/>
<input type="button" value="Cancelar" onClick="location.href='/pizzer/reclamacoes/'"/>
</form>
{% endblock %}