{% extends "base.html" %}

{% block titulo %}
Edição de pedido
{% endblock %}
{% block conteudo %}
<form action="" method="post">
{{ form.as_p }}

<br/>
<h3> Conteúdo do Pedido </h3>
<br/>
<table border=1>
<tr>
    <th>Bebida</th>
    <th>Quantidade</th>
</tr>
{% for bebida in bebidas %}
<tr>
    <td> {{ bebida.item_cardapio.nome }} </td>
    <td> {{ bebida.quantidade }}</td>
</tr>
{% endfor %}
</table>
<br/>
<br/>
<input type="submit" value="Confirmar edição">
<input type="button" value="Deletar" onClick="location.href='/pizzer/pedido/deleta/{{ pedido.id }}/'"/>
</form>
{% endblock %}