{% extends "base.html" %}

{% block titulo %}
Cadastro de novo cliente
{% endblock %}
{% block conteudo %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form_cliente.nome.errors }}
        <label for="id_nome">Nome completo:</label><br>
        {{ form_cliente.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form_cliente.endereco.errors }}
        <label for="id_endereco">Endereço:</label><br>
        {{ form_cliente.endereco }} <i>( Ex.: Av. São Miguel, 4673)</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form_cliente.telefone.errors }}
        <label for="id_telefone">Telefone:</label><br>
        {{ form_cliente.telefone }} <i>(Ex.: 2976-6544)</i>
    </div><br>
    <hr/>
    <div class="fieldWrapper">
        {{ form_usuario.username.errors }}
        <label for="id_telefone">Nome de usuario:</label><br>
        {{ form_usuario.username }}
    </div><br>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}