{% extends "base.html" %}

{% block titulo %}
Cadastro de nova bebida
{% endblock %}
{% block conteudo %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        <label for="id_nome">Nome da bebida:</label><br>
        {{ form.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.quantidade.errors }}
        <label for="id_quantidade">Quantidade:</label><br>
        {{ form.quantidade }} <i>Unidades</i>
    </div><br>
    <div class="fieldWrapper">
        {{ form.preco.errors }}
        <label for="id_preco">Preço:</label><br>
        {{ form.preco }} <i>R$ NN.DD</i>
    </div><br>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}