{% extends "base.html" %}

{% block titulo %}
Bebidas
{% endblock %}
{% block conteudo %}
<form method="GET">
	<label><i>Nome:</i></label>
	<input name="nome" type="text">
	<input type="submit" value="Filtrar"/>
</form>
<h4>{{ mensagem }}</h4>
{% if bebidas_list %}
	<table border=1>
	<tr>
		<th>
		Nome
		</th>
		<th>
		Preço (R$)
		</th>
		<th>
		Quantidade
		</th>
	</tr>
	{% for bebida in bebidas_list %}
		<tr>
			<td>
			{% ifequal group "atendente" %}
				{{ bebida.nome }}
			{% else %}
				<a href="/pizzer/bebida/edita/{{bebida.id}}/">{{ bebida.nome }}</a>
			{% endifequal %}
			</td>
			<td>
			{{ bebida.preco|floatformat:2 }}
			</td>
			<td>
			{{ bebida.quantidade }}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}