{% extends "base.html" %}

{% block titulo %}
Cadastro de novo usuario
{% endblock %}
{% block conteudo %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_username">Nome de usuário:</label><br>
        {{ form.username }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="id_telefone">Senha:</label><br>
        {{ form.password }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">Email:</label><br>
        {{ form.email }}
    </div><br>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}