<div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="id_username">Nome de usuário:</label><br>
    {{ form.username }}
</div><br>
<div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="id_password">Senha:</label><br>
    <input id="id_password" type="password" name="password" maxlength="128" />
</div><br>
<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="id_email">Email (opcional):</label><br>
    {{ form.email }}
</div><br>