{% extends "base.html" %}

{% block titulo %}
Mudança de senha
{% endblock %}
{% block conteudo %}
<form action="" method="post">
	{{ form.non_field_errors }}
	<div class="fieldWrapper">
	    {{ form.password.errors }}
	    <label for="id_password">Nova senha:</label><br>
	    {{ form.password }}
	</div><br>
	<div class="fieldWrapper">
	    {{ form.password_r.errors }}
	    <label for="id_password_r">Repita a nova senha:</label><br>
	    {{ form.password_r }}
	</div><br>
<input type="submit" value="Salvar alterações">
{% ifequal pessoa "cliente" %}
<input type="button" value="Cancelar" onClick="location.href='/pizzer/cliente/edita/{{ cliente.id }}/'"/>
{% else %}
<input type="button" value="Cancelar" onClick="location.href='/pizzer/funcionario/edita/dadospessoais/{{ funcionario.id }}/'"/>
{% endifequal %}
</form>
{% endblock %}