{% extends "base.html" %}

{% block titulo %}
Cadastro de nova pizza
{% endblock %}
{% block conteudo %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        <label for="id_nome">Nome da pizza:</label>
        {{ form.nome }}
    </div><br>
    <div class="fieldWrapper">
        {{ form.ingredientes.errors }}
        <label for="id_ingredientes">Ingredientes:</label>
        {{ form.ingredientes }} Com a tecla CTRL pressionada, selecione os ingredientes desejados
    </div><br>
<input type="submit" value="Confirmar registro">
</form>
{% endblock %}