{% extends "base.html" %}

{% block titulo %}
Pizzas Personalizadas
{% endblock %}
{% block conteudo %}
<form method="GET">
	<label><i>Nome da Pizza:</i></label>
	<input name="nome" type="text">
	<input type="submit" value="filtrar"/>
</form>
<h4>{{ mensagem }}</h4>
{% if pizzas_list %}
<table border=1>
<tr>
	<th>
	Nome
	</th>
	<th>
	Ingredientes
	</th>
	<th>
	Preço (R$)
	</th>
	<th>
	</th>
</tr>
{% for pizza in pizzas_list %}
	<tr>
		<td>
		{{pizza.nome}}
		</td>
		<td>
		{{ pizza.ingredientes.all|join:", " }}
		</td>
		<td>
		{{ pizza.preco|floatformat:2 }}
		</td>
		<td>
		<input type="button" value="Remover" onClick="location.href='/pizzer/pizza/personalizada/deleta/{{ pizza.id }}/'"/>
		</td>
	</tr>
{% endfor %}
</table><br/><br/>

<input type="button" value="Remover todos os Registros" onClick="location.href='/pizzer/pizzas/personalizadas/telefone/deleta/'">
{% endif %}
{% endblock %}