{% extends "base.html" %}

{% block titulo %}
Atendimento a reclamações
{% endblock %}
{% block conteudo %}
<form method="GET">
<p>
	<label><i>Assunto:</i></label>
	<input name="assunto" type="text">
	<label><i>Texto:</i></label>
	<input name="texto" type="text">
	<input type="submit" value="Filtrar"/>
	<br/>
	<label><i>Status: </i></label><a href="/pizzer/reclamacoes/?status=A">Não Lidas</a> | <a href="/pizzer/reclamacoes/?status=F">Todas</a>
	<br/><br/>
	<!--
	<table border="1px">
		<tr><td>
		<label><i>Status:</i></label><br/>
		<a href="/pizzer/reclamacoes/?status=A">Não Lida</a><br/>
		<a href="/pizzer/reclamacoes/?status=B">Em Investigação</a><br/>
		<a href="/pizzer/reclamacoes/?status=C">Incoerente</a><br/>
		<a href="/pizzer/reclamacoes/?status=D">Plausível</a><br/>
		<a href="/pizzer/reclamacoes/?status=E">Resolvida</a><br/>
		<a href="/pizzer/reclamacoes/?status=F">Todas</a><br/>
		</td></tr>
	</table>
	-->
</p>
</form>

<h4>{{ mensagem }}</h4>
{% if reclamacoes_list %}
	<table border=1>
		<tr>
			<th> Assunto </th>
			<th> Texto </th>
			<th> Status </th>
		</tr>
		{% for reclamacao in reclamacoes_list %}
		<tr>
			<td> <a href="/pizzer/reclamacao/resolve/{{reclamacao.id}}/">{{ reclamacao.assunto }}</a> </td>
			<td> {{ reclamacao.texto|truncatewords:5 }} </td>
			<td> {{ reclamacao.status_display }}
		</tr>
		{% endfor %}
	</table>
{% endif %}
{% endblock %}